* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

.accent-color {
  color: #37b721;
}

.accent-color-sec {
  color: #f17d37;
}

.heading {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #777;
  margin-bottom: 1.5rem;
}

.para {
  color: #999;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.btn {
  all: unset;
  cursor: pointer;
  background-color: #37b721;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 2.2rem;
  border-radius: 40px;
}

.btn:hover {
  background-color: #3ac023;
}

.input {
  margin: 0.4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input span i {
  padding: 0.34rem 0.25rem 0.38rem 0.6rem;
  border: 1px solid #ccc;
  color: #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
}

.input input {
  width: 200px;
  padding: 0.43rem 0.6rem;
  font-size: 1.2rem;
  color: #999;
  border: 1px solid #ccc;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input input:focus {
  outline: none;
}

.wrapper {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 3rem;
  }
  100% {
    bottom: 2rem;
  }
}

@keyframes bounce {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 3rem;
  }
  100% {
    bottom: 2rem;
  }
}

header {
  width: 100%;
  height: calc(100vh - 3rem);
  position: relative;
  background: url(../img/hero.jpeg) no-repeat center center/cover;
}

header .navigation {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .phone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navigation .phone p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
  color: #fff;
  font-size: 0.8rem;
}

header .navigation .phone p i {
  font-size: 0.9rem;
  margin-right: 6px;
}

header .navigation .phone p a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 10px;
}

header .navigation .phone p a:hover {
  opacity: 0.9;
}

header .navigation nav a {
  display: inline-block;
  padding: 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

header .navigation nav a:not(:nth-child(1)) {
  margin-left: 1.2rem;
}

header .navigation nav a:hover {
  opacity: 0.9;
}

header .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

header .hero-text span {
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  right: 2.5rem;
  top: 0.6rem;
}

header .hero-text h1 {
  font-size: 6.5rem;
  font-weight: 1000;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-bottom: 0.6rem;
}

header .video-play {
  position: absolute;
  bottom: 3rem;
  left: 4rem;
}

header .video-play a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header .video-play a i {
  font-size: 3rem;
  color: #fff;
  margin-right: 6px;
}

header .video-play a .wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .video-play a .wrap span {
  font-size: 0.8rem;
  color: #fff;
}

header .video-play a .wrap h2 {
  color: #fff;
  font-size: 1.2rem;
}

header .video-play:hover {
  opacity: 0.9;
}

header #expand {
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 2rem;
  -webkit-animation: bounce 1.5s;
          animation: bounce 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main {
  padding: 4rem 0;
}

.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .wrapper .left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 1rem;
}

.main .wrapper .left img {
  width: 100%;
}

.main .wrapper .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 1rem;
}

.location {
  padding: 4rem 0 2rem;
}

.location .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location .wrapper .left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.location .wrapper .right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
}

.location .wrapper .right h1 {
  font-size: 10rem;
  position: absolute;
  right: 0;
  top: -4rem;
  color: #fbfbfb;
}

.city {
  padding: 2rem 0 2rem;
}

.city .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city .wrapper .search {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.city .wrapper .city-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city .wrapper .city-list ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

.city .wrapper .city-list ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.city .wrapper .city-list ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #999;
}

.city .wrapper .city-list ul li a:hover {
  color: #f17d37;
}

.destination {
  padding: 2rem 0 4rem;
}

.destination .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destination .wrapper .dest {
  display: block;
  text-decoration: none;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

.destination .wrapper .dest:not(:last-child) {
  margin-right: 0.7rem;
}

.destination .wrapper .dest img {
  width: 100%;
  height: 100%;
}

.destination .wrapper .dest:hover {
  opacity: 1;
}

.destination .wrapper .dest .text {
  z-index: 2;
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  width: 100%;
  text-align: center;
}

.destination .wrapper .dest .text p {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.4rem;
}

.destination .wrapper .dest .text span {
  color: #fff;
  font-size: 0.9rem;
}

.destination .wrapper .dest .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.stat {
  padding: 4rem 0;
  border-bottom: 1px solid #f4f4f4;
}

.stat .wrapper > h1 {
  margin-bottom: 1rem;
}

.stat .wrapper h1,
.stat .wrapper p {
  text-align: center;
}

.stat .wrapper .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 1rem;
  max-width: 70%;
  margin: auto;
}

.stat .wrapper .count .flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.stat .wrapper .count .flex h1 {
  font-size: 2.6rem;
  color: #f17d37;
  margin-bottom: 0.3rem;
}

.testimonial {
  padding: 4rem;
}

.testimonial .wrapper .testimonial-single {
  text-align: center;
  max-width: 46rem;
  margin: 0 auto;
}

.testimonial .wrapper .testimonial-single .head {
  font-size: 10rem;
  color: lightgray;
  line-height: 1;
  opacity: 0.4;
}

.testimonial .wrapper .testimonial-single .lead {
  font-size: 1.4rem;
  margin-top: -3rem;
  margin-bottom: 1.2rem;
  color: #777;
}

.testimonial .wrapper .testimonial-single .user {
  padding: 1rem 0 2rem;
}

.testimonial .wrapper .testimonial-single .user img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  opacity: 0.8;
}

.testimonial .wrapper .testimonial-single .user span.name {
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #bbbbbb;
}

.cta {
  padding: 3rem;
  background-color: #37b721;
}

.cta .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .wrapper span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 1.4rem;
}

.cta .wrapper .cta-btn {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem 1.8rem;
  border-radius: 40px;
}

.cta .wrapper .cta-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

footer .wrapper {
  padding: 4rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .ft-flex-item h3 {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #777;
}

footer .wrapper .ft-flex-item ul {
  padding: 0;
  list-style: none;
}

footer .wrapper .ft-flex-item ul li {
  margin-bottom: 1rem;
}

footer .wrapper .ft-flex-item ul li a {
  display: inline-block;
  text-decoration: none;
  color: #a8a8a8;
  font-size: 1rem;
}

footer .wrapper .ft-flex-item ul li a:hover {
  color: #777;
}

footer .wrapper .ft-flex-item:not(:last-child) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .wrapper .ft-flex-item:last-child {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

footer .copyright {
  padding: 0 0 4rem;
}

footer .copyright p {
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  color: lightgray;
}

@media (max-width: 768px) {
  .wrapper {
    width: 99%;
  }
  .main {
    padding: 3rem 0 2rem;
  }
  .main .wrapper {
    display: block;
  }
  .main .wrapper .left,
  .main .wrapper .right {
    padding: 1rem;
  }
  .location {
    padding: 2rem 0 2rem;
  }
  .location .wrapper {
    display: block;
  }
  .location .wrapper .left,
  .location .wrapper .right {
    padding: 0 1rem;
  }
  .location .wrapper .right h1 {
    display: none;
  }
  .city .wrapper {
    display: block;
  }
  .city .wrapper .search {
    padding: 0 1rem;
  }
  .city .wrapper .city-list {
    padding: 0 1rem;
    margin-top: 2rem;
  }
  .city .wrapper .city-list ul li a {
    font-size: 0.9rem;
  }
  .destination {
    padding: 2rem 0;
  }
  .destination .wrapper {
    display: block;
  }
  .destination .wrapper .dest {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .destination .wrapper .dest:not(:last-child) {
    margin-right: 1rem;
  }
  .destination .wrapper .dest .overlay {
    height: 98%;
  }
  .stat {
    padding: 2rem 0;
  }
  .stat .wrapper .count {
    padding: 1rem 0;
    display: block;
  }
  .stat .wrapper .count .flex {
    padding-bottom: 1rem;
  }
  .stat .wrapper .count .flex h1 {
    font-size: 2rem;
  }
  .testimonial {
    padding: 2rem 0;
  }
  .testimonial .wrapper .testimonial-single {
    padding: 0 1rem;
  }
  .testimonial .wrapper .testimonial-single .head {
    font-size: 6rem;
  }
  .testimonial .wrapper .testimonial-single .user {
    padding: 1rem;
  }
  .testimonial .wrapper .testimonial-single .user .name {
    font-size: 0.8rem !important;
  }
  .cta {
    padding: 2rem 0;
  }
  .cta .wrapper {
    display: block;
    text-align: center;
  }
  .cta .wrapper span {
    display: block;
    margin-bottom: 2rem;
  }
  .cta .wrapper a.cta-btn {
    display: inline-block;
  }
  footer .wrapper {
    display: block;
    padding: 2rem 0;
  }
  footer .wrapper .ft-flex-item {
    padding: 0 1rem;
  }
  footer .wrapper .ft-flex-item:not(:last-child) {
    display: none;
  }
  footer .copyright {
    padding: 1rem 0;
  }
  footer .copyright p {
    text-align: center;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */