* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

// button
.btn {
  all: unset;
  cursor: pointer;
  background-color: #37b721;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 2.2rem;
  border-radius: 40px;
  &:hover {
    background-color: lighten(#37b721, 2);
  }
}

// header
header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../img/hero.jpeg) no-repeat center center/cover;
  .navigation {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    .phone {
      flex: 1;
      p {
        display: flex;
        align-items: center;
        padding: 0.6rem;
        color: #fff;
        font-size: 0.9rem;
        i {
          margin-right: 6px;
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size: 0.9rem;
          margin-left: 10px;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    nav {
      a {
        display: inline-block;
        padding: 0.6rem;
        font-size: 0.8rem;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        &:not(:nth-child(1)) {
          margin-left: 1.2rem;
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    span {
      color: #fff;
      position: absolute;
      right: 2.5rem;
      top: 0.6rem;
    }
    h1 {
      font-size: 6.5rem;
      font-weight: 1000;
      letter-spacing: 0.2rem;
      color: #fff;
      margin-bottom: 0.6rem;
    }
  }
  .video-play {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      i {
        font-size: 3rem;
        color: #fff;
        margin-right: 6px;
      }
      .wrap {
        flex: 1;
        span {
          font-size: 0.8rem;
          color: #fff;
        }
        h2 {
          color: #fff;
          font-size: 1.2rem;
        }
      }
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
